html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #292929;
}

a {
  text-decoration: none;
}

.menu, .product, .blog {
  zoom: 1;
}
.menu:before, .product:before, .blog:before {
  content: "";
  display: table;
}
.menu:after, .product:after, .blog:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

.container {
  max-width: 24em;
  _width: 24em;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(0, 0, 0, 0) 16.66667%, rgba(0, 0, 0, 0) 20.83333%, rgba(100, 100, 225, 0.25) 20.83333%, rgba(100, 100, 225, 0.25) 37.5%, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 41.66667%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(0, 0, 0, 0) 58.33333%, rgba(0, 0, 0, 0) 62.5%, rgba(100, 100, 225, 0.25) 62.5%, rgba(100, 100, 225, 0.25) 79.16667%, rgba(0, 0, 0, 0) 79.16667%, rgba(0, 0, 0, 0) 83.33333%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(0, 0, 0, 0) 16.66667%, rgba(0, 0, 0, 0) 20.83333%, rgba(100, 100, 225, 0.25) 20.83333%, rgba(100, 100, 225, 0.25) 37.5%, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 41.66667%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(0, 0, 0, 0) 58.33333%, rgba(0, 0, 0, 0) 62.5%, rgba(100, 100, 225, 0.25) 62.5%, rgba(100, 100, 225, 0.25) 79.16667%, rgba(0, 0, 0, 0) 79.16667%, rgba(0, 0, 0, 0) 83.33333%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(0, 0, 0, 0) 16.66667%, rgba(0, 0, 0, 0) 20.83333%, rgba(100, 100, 225, 0.25) 20.83333%, rgba(100, 100, 225, 0.25) 37.5%, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 41.66667%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(0, 0, 0, 0) 58.33333%, rgba(0, 0, 0, 0) 62.5%, rgba(100, 100, 225, 0.25) 62.5%, rgba(100, 100, 225, 0.25) 79.16667%, rgba(0, 0, 0, 0) 79.16667%, rgba(0, 0, 0, 0) 83.33333%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(0, 0, 0, 0) 16.66667%, rgba(0, 0, 0, 0) 20.83333%, rgba(100, 100, 225, 0.25) 20.83333%, rgba(100, 100, 225, 0.25) 37.5%, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 41.66667%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(0, 0, 0, 0) 58.33333%, rgba(0, 0, 0, 0) 62.5%, rgba(100, 100, 225, 0.25) 62.5%, rgba(100, 100, 225, 0.25) 79.16667%, rgba(0, 0, 0, 0) 79.16667%, rgba(0, 0, 0, 0) 83.33333%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  background-origin: content-box;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    background-origin: content-box;
    -webkit-background-clip: content;
    -moz-background-clip: content;
    background-clip: content-box;
    max-width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 960px) {
  .container {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    background-origin: content-box;
    -webkit-background-clip: content;
    -moz-background-clip: content;
    background-clip: content-box;
    max-width: 74em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}

.header {
  max-width: 24em;
  _width: 24em;
  margin: 0 auto;
  background: #241d1f;
  color: white;
  padding-bottom: 0.375em;
  padding-top: 0.375em;
  margin-bottom: 1.5em;
  text-align: center;
  position: relative;
}
.header h1 {
  font-size: 1.5em;
  line-height: 2em;
}
.header .menu-control {
  padding: 2px;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid white;
}
.header .menu-control:hover {
  color: #241d1f;
  background: white;
  border: 1px solid #241d1f;
}
@media (min-width: 768px) {
  .header {
    max-width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .header .menu-control {
    display: none;
  }
}
@media (min-width: 960px) {
  .header {
    max-width: 74em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
}

.menu {
  width: 58.33333%;
  float: left;
  margin-right: 4.16667%;
  display: inline;
  padding-top: 0.75em;
  padding-bottom: 4.5em;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: #207abc;
  color: white;
  -webkit-transition: margin 1s;
  -moz-transition: margin 1s;
  -o-transition: margin 1s;
  transition: margin 1s;
}
.open .menu {
  margin-left: 0;
}
.menu h2 {
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.33333em;
}
.menu a {
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  color: white;
  display: block;
  line-height: 2.5em;
  text-indent: 1em;
}
.menu a:hover {
  background: #195e90;
  color: yellow;
}
@media (min-width: 768px) {
  .menu {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .menu li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
  }
  .menu li a {
    text-indent: 0;
    padding: 1em;
  }
  .menu h2 {
    display: none;
  }
}

.main {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-transition: margin 1s;
  -moz-transition: margin 1s;
  -o-transition: margin 1s;
  transition: margin 1s;
}
.open .main {
  margin-right: -62.5%;
}

.banner {
  background: blue;
  color: white;
  margin-bottom: 1.5em;
}
.banner p {
  font-size: 0.8125em;
  line-height: 1.84615em;
}
@media (min-width: 768px) {
  .banner p {
    font-size: 1.4375em;
    line-height: 1.56522em;
  }
}
@media (min-width: 960px) {
  .banner p {
    font-size: 2.1875em;
    line-height: 1.37143em;
  }
}

.product {
  margin-bottom: 1.5em;
  background: red;
}
.product section {
  height: 100px;
  background: black;
  margin-bottom: 1.5em;
}
.product .bar {
  margin-bottom: 1.5em;
  height: 100px;
  text-align: center;
  background: gray;
}
.product .bar a {
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: blue;
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media (min-width: 768px) {
  .product section {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%;
  }
  .product section:nth-child(2n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .product section:nth-child(2n + 2) {
    margin-left: 50.84746%;
    clear: none;
  }
  .product .bar {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%;
  }
  .product .bar:nth-child(2n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .product .bar:nth-child(2n + 2) {
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 960px) {
  .product section {
    width: 32.43243%;
    float: left;
    margin-right: 1.35135%;
    margin-right: -100%;
  }
  .product section:nth-child(3n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .product section:nth-child(3n + 2) {
    margin-left: 33.78378%;
    clear: none;
  }
  .product section:nth-child(3n + 3) {
    margin-left: 67.56757%;
    clear: none;
  }
  .product .bar {
    width: 100%;
    float: left;
    margin-right: 1.35135%;
    margin-right: -100%;
    background: gray;
  }
  .product .bar:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
}

.blog {
  background: pink;
}
.blog h2 {
  text-align: center;
}
.blog section {
  height: 100px;
  margin-bottom: 1.5em;
  background: green;
}
@media (min-width: 768px) {
  .blog section {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .blog section:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}

.test-color {
  color: red;
  background: black;
}
